<span *ngIf="getUserData == 'insurance_holder'">
  <app-holder-nav></app-holder-nav>
</span>
<span *ngIf="getUserData == 'insurance_provider'">
   
  <app-provider-nav></app-provider-nav>
</span>
<span *ngIf="getUserData == 'inspector'">
   <!-- hello -->
  <app-inspector-nav></app-inspector-nav>
</span>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-block-count></app-block-count>
    </div>
    <div class="col-md-3">
      <div class="card  shadow-lg bg-white rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <span class="icon">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
            <div class="col-md-9">
              <div class="number float-right">Channel Name</div><br /><br />
              <div class="title float-right">MyInsuranceChannel</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card  shadow-lg bg-white rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <span class="icon">
                <i class="fa fa-paper-plane"></i>
              </span>
            </div>
            <div class="col-md-9">
              <div class="number float-right">Peers</div><br /><br />
              <div class="title float-right">peer0.org0.insurance.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <app-block-hash class="hash"></app-block-hash>
    </div>

      <!-- <div class="col-md-5">
      <app-block-data class="data"></app-block-data>
    </div>   -->
  </div>

</div>