.card{
    max-height: 500px;
    overflow-y: auto;
    background-color: #ffffff;
    
 }

 li p{
    margin: 0;
    padding: 10px 0;
    box-shadow: 5px 1px 9px #888888;
    padding-left:10px;
    background-color:lightblue;
}

.header-title{
    padding-top: 26px;
}
.col-md-4{
    left:400px;
}