<div class="card shadow-lg bg-white rounded">
  <div class="card-heading">
    <h3 class="text-center header-title">User Certificate</h3>
  </div>

  <div class="card-body">
    <ul class="list-unstyled">
      <li>
        <p>
          <label><b>Email</b></label>&nbsp;
          <span class="number">{{blockUser}}</span><br />
          <label><b>Signin Certificate</b></label>&nbsp;
          <span class="data"></span>{{blocksignin}}<br />
          <label><b>Certificate</b></label>&nbsp;
          <span class="previous">{{blockcertificate}}</span><br />
         
        </p>
      </li>
    </ul>
  </div>
</div>

