<nav class="navbar-nav-fixed-left">

  <!-- <div id="avatar">
    <img src="./assets/images/indium-logo.jpg">
  </div>-->



  <ul class="nav navbar-nav ml-auto">
    <img src="./assets/images/indium-logo.jpg" class="shadow-lg bg-white rounded">

  </ul>
  <ul class="nav navbar-nav ml-auto title">
    <li><b>Insurance-Provider</b></li>
  </ul>
  <br />

  <ul class="nav navbar-nav">
    <div class="vmenu" id="v1">
      <h4>Dashboard
       <ol id="s3">
       <li routerLinkActive="active"><a routerLink="/provider-show-plans" ><i class="fa fa-gear" aria-hidden="true"></i>&nbsp;View-Plans</a></li>
       <li><a routerLink="/add-category"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Add Category </a></li>
       <li><a routerLink="/add-plans"><i class="fa fa-send" aria-hidden="true"></i>&nbsp;Add Plans</a></li>
       <li><a routerLink="/provider-claimstatus"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Claim Status</a></li>
       
       
       </ol>
       
       </h4>
       </div>
       <br/>
       <div class="vmenu" id=v2>
        <h4>Blockchain Dashboard
         <ol id="s4">
         <li><a routerLink="/blockchain-dashboard"><i class="fa fa-btc" aria-hidden="true"></i>&nbsp;BC Explorer</a></li>
         <li><a routerLink="/provider-blockclaim" ><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Claim Status</a></li>
         </ol>
         </h4>
        
         </div>
    <!-- <div class="vmenu" id="v1">
      <h4>Dashboard
        <ol id="s3">
          <li routerLinkActive="active"><a routerLink="/provider-show-plans"><i class="fa fa-gear"
                aria-hidden="true"></i>&nbsp;View-Plans</a></li>
          <li><a routerLink="/add-category"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Add Category</a>
          </li>
          <li><a routerLink="/add-plans"><i class="fa fa-send" aria-hidden="true"></i>&nbsp;Add Plans</a>
          </li>
          <li><a routerLink="/provider-claimstatus"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Claim Status</a>
          </li>

        </ol>

      </h4>
    </div>
    <br />
    <div class="vmenu" id=v2>
      <h4>Blockchain Dashboard
        <ol id="s4">
          <li><a routerLink="/blockchain-dashboard"><i class="fa fa-btc" aria-hidden="true"></i>&nbsp;BC Explorer</a>
          </li>
          <li><a routerLink="/block-claim"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Claim Status</a></li>
        </ol>
      </h4>

    </div> -->
  </ul>
</nav>



<!-- <nav class="navbar navbar-expand sticky-top">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle (click)="false">
          <span><b>Insurance-Holder</b></span>&nbsp;&nbsp;
          <img src="{{userImage}}" class="img-avatar" alt="admin@test.cc" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Account</strong></div>
          <div class="divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
        </div>
       
      </li>
      
    </ul>
  </nav> -->
<app-header [fixed]="true" [sidebarToggler]=false [asideMenuToggler]=false>
  <ul class="nav navbar-nav ml-auto app-title">
    <li>Indium Insurance Portal</li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="{{userImage}}" tooltip="{{getCookieValue}}" data-placement="left" class="img-avatar"
          alt="admin@test.cc" />
      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <div class="divider"></div>
        <a class="dropdown-item text-center" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
      </div>
    </li>
  </ul>
</app-header>