.navbar{
    background-color: #666666;
    height:60px;
}
:host::ng-deep .app-header .navbar-brand .navbar-brand-full{
    display:none;
    
}
:host::ng-deep .app-header .navbar-brand{
    pointer-events:none;
    cursor:default;
    
}
// .image-avatar{
    
//         width: 50px;
//         background-size: cover;
//         height: 46px;
//         top: 60px;
//         border-radius: 60px;
//         /* z-index: 9; */
//         /* bottom: 51px; */
//         /* left: 0; */
//         /* right: 0; */
//         padding-right: 30pxq;
//         margin-right:20px;
// }
.list-header{
 color:white;
 margin-left: 100px;
}

#nav{
    font-size:1.0rem;
    color:white;
    margin-top:100px;
    font-family:'IBM+Plex+Serif', serif;
}

a{
color:white;
}
.dropdown-menu{
    margin-left:30px;
    margin-top:15px;
}

span{
    color:white;
    font-family: 'IBM+Plex+Serif', serif;
}
.navbar-nav-fixed-left {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#666666;
    margin-top:57px;
}

.title li{
    font-family: 'IBM+Plex+Serif', serif;
    color: white;
    letter-spacing: 0.2rem;
    font-size:0.9rem;
    cursor: default;
    margin-top:90px;
    margin-left:-05px;
    text-align: center;
    font-weight: 700;
} 

img{
    width: 120px;
    background-size: initial;
    height: 120px;
    top: 50px;
    border-radius: 60px;
    /* z-index: 9; */
    /* bottom: 51px; */
    /* left: 0; */
    /* right: 0; */
    padding-right: 50;
    margin-top: 20px;
    margin-left: 60px;
    position: inherit;
    box-shadow:0px 2px 2px;
}
.img-avatar{
    width: 40px;
    background-size: cover;
    height: 40px;
    top: 60px;
    border-radius: 60px;
    /* z-index: 9; */
    /* bottom: 51px; */
    /* left: 0; */
    /* right: 0; */
    padding-right: 50;
    margin: -13px;
    position: initial;
}

