<nav class="navbar-nav-fixed-left">

    <!-- <div id="avatar">
      <img src="./assets/images/indium-logo.jpg">
    </div>-->
  
  
    
    <ul class="nav navbar-nav ml-auto">
      <img src="./assets/images/indium-logo.jpg" class="animated swing infinite">
      </ul>
      <ul class="nav navbar-nav ml-auto title">
          <li><b>Insurance-Holder</b></li>
        </ul> 
    <br />
    
    <ul class="nav navbar-nav">
      <li class="nav-item" id="nav" placement="bottom">
        <!-- <a class="nav-link" data-toggle="dropdown" href="#" role="button" aris-haspopup="true" aria-expanded="false" (click)="false"dropdownToggle><i class="fa fa-navicon"></i>&nbsp;&nbsp;Dashboard</a> -->
        <!-- <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown"> -->
          
          <a class="dropdown-item" routerLink="/show-plan"><i class="fa fa-pencil" aria-hidden="true"></i>View Plans</a>
          <a class="dropdown-item" routerLink=""><i class="fa fa-paper-plane" aria-hidden="true"></i>Policies & Claims</a>
          <a class="dropdown-item" routerLink=""><i class="fa fa-bar-chart" aria-hidden="true"></i>View Claim Status</a>
        <!-- </div> -->
      </li>
    </ul>
  </nav>
  
  
   
    <!-- <nav class="navbar navbar-expand sticky-top">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown placement="bottom right">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
            dropdownToggle (click)="false">
            <span><b>Insurance-Holder</b></span>&nbsp;&nbsp;
            <img src="{{userImage}}" class="img-avatar" alt="admin@test.cc" />
          </a>
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
            <div class="dropdown-header text-center"><strong>Account</strong></div>
            <div class="divider"></div>
            <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
          </div>
         
        </li>
        
      </ul>
    </nav> -->
    <app-header [fixed]="true" [sidebarToggler]=false [asideMenuToggler]=false>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown placement="bottom right">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" 
            dropdownToggle (click)="false">
            <img src="{{userImage}}" data-toggle="tooltip" data-placement="right" title="{{getCookieValue}}" class="img-avatar" alt="admin@test.cc" />  
          </a>
         
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
            <div class="dropdown-header text-center"><strong>Account</strong></div>        
            <div class="divider"></div>
            <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
          </div>
        </li>
      </ul>
    </app-header>