@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

.mod{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     
}
.help-info{
    float:right;
}
.close{
    background-color: lightgray;
}
label{
    font-family:'IBM+Plex+Serif', serif;;
    font-size:1.2rem;
    color:gray;
}
img{
    width: 95px;
    background-size: cover;
    height: 95px;
    top: 50px;
    border-radius: 60px;
    /* z-index: 9; */
    /* bottom: 51px; */
    /* left: 0; */
    /* right: 0; */
    padding-right: 50;
    margin: -13px;
    position: initial;
}
 #avatar{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    border-radius: 50%;
    z-index: 9;
    background: #70c5c0;
    padding: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); 
    width:100px;
    height:100px;
    background-size: cover;
} 


.text-center{
    padding-top:43px;
}
.card{
    background:white;
    box-shadow:0px 0px 6px;
}
button{
    background-color:#0A64B1;
    color:white;
    width:700px;
    height:50px;
    margin-top:40px;
    margin-bottom:-20px;
    margin-right:-5px;
    margin-left:-5px;
    font-family:'IBM+Plex+Serif', serif; 
    font-size:1.8rem;
    font-weight:bold;
}
.btn-primary{
    width:100px;
    margin-bottom:unset;
    font-size:0.9rem;
    
    
}
:host::ng-deep .modal .modal-show .modal-dialog {
    margin-right:350px;
}