@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

.role-div {
    background-color: #0a64B1;
    padding: 1.2rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    border-radius: 1rem;
    font-family:'IBM+Plex+Serif', serif;
}

.form-container{
    color:gray;
    font-family:'IBM+Plex+Serif',serif;
    font-size:1.2rem;

}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  