<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline-secondary shadow-lg bg-white rounded">
                <div class="card-body">
                    <div class="form-group role-div">
                      <div class="role">
                        <label>Choose Your Role </label> &nbsp;&nbsp;
            
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="role" id="insurance_holder" value="insurance_holder"
                            [(ngModel)]="role" (ngModelChange)="getRole()" [checked]="!isSpecial" />
                          <label class="form-check-label" for="insurance_holder">Insurer</label>
                        </div>
            
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="role" id="insurance_provider" value="insurance_provider"
                            [(ngModel)]="role" (ngModelChange)="getRole()" [checked]="!isSpecial" />
                          <label class="form-check-label" for="insurance_provider">Insurance Provider</label>
                        </div>
            
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="role" id="inspector" value="inspector" [(ngModel)]="role"
                            (ngModelChange)="getRole()" [checked]="!isSpecial" />
                          <label class="form-check-label" for="inspector">Inspector</label>
                        </div>
                      </div>
                    </div>

                      <div class="insurance-holder" *ngIf="rolePolicyHolder">
                        <form class="form-container" name="form" #insurance_holder_form="ngForm">
                          <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" name="email" id="email" class="form-control" autocomplete="off" title="john@gmail.com"
                              placeholder="john@gmail.com" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel"
                              [(ngModel)]="insurance_holder.email" required />
                              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                              class="alert alert-danger">
                             
                            <div *ngIf="email.errors?.required">
                              Email is required.
                            </div>
                            <div *ngIf="email.errors?.pattern">
                                Email is invalid.
                              </div>
                              </div>
                          </div>
            
                          <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input type="text" class="form-control" id="firstname" autocomplete="off" maxlength="100" title="John"
                              placeholder="John" name="firstname" #firstname="ngModel" [(ngModel)]="insurance_holder.firstname"
                              required />
                            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                              <div *ngIf="firstname.errors.required" >First Name is required</div>
                            </div>
                          </div>
            
                          <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input type="text" class="form-control" autocomplete="off" maxlength="100" title="Abraham" placeholder="Abraham"
                              id="lastname" name="lastname" #lastname="ngModel" [(ngModel)]="insurance_holder.lastname" required />
                            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                              <div *ngIf="lastname.errors.required" >Last Name is required</div>
                            </div>
                          </div>
            
            
                          <input type="hidden" class="form-control" autocomplete="off" maxlength="100" title="" placeholder="Role"
                            name="role" #role="ngModel" [(ngModel)]="insurance_holder.role" />
            
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" autocomplete="off" maxlength="100" title="" placeholder="Your Password"
                              id="password" name="password" #password="ngModel" [(ngModel)]="insurance_holder.password"
                              passwordToggle required />
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                              <div *ngIf="password.errors.required" class="alert alert-danger">Password is required</div>
                            </div>
                          </div>
            
                          <div class="form-group">
                            <label for="image">Upload Image</label>
                            <input type="file" class="form-control" [(ngModel)]="insurance_holder.image" id="image" name="image"
                              #image="ngModel" (change)="fileSelected($event)" required />
                            <div *ngIf="image.invalid && (image.dirty || image.touched)" class="alert alert-danger">
                              <div *ngIf="image.errors.required" >Image is required</div>
                            </div>
                          </div>
            
            
                          <div class="row d-flex justify-content-center">
                            <div class="col-sm-6 col-md-5 col-lg-2">
                              <button type="reset" class="btn btn-floating btn-success btn-md">
                                Reset
                              </button>
                            </div>
                            <div class="col-sm-6 col-md-5 col-lg-2">
                              <!-- <button type="submit" class="btn btn-primary btn-md" [disabled]="!insurance_holder_form.valid" (click)="insuranceHolder()">
                                Signup
                              </button> -->
                              <button type="submit" (click)="insuranceHolder()" class="btn btn-floating btn-md btn-primary" [disabled]="!insurance_holder_form.valid">Signup</button>
                            </div>
                          </div>
                        </form>
                      </div>

                       <!-- Insurance Holder Form Ends -->

          <!-- Insurance Provider Form Starts-->
          <div class="insurance-provider" *ngIf="roleInsuranceProvider">
              <form class="form-container" autocomplete="off" name="form" #insurance_provider_form="ngForm" enctype="multipart/form-data">
                <div class="form-group">
                  <label>Provider Company Name</label>
                  <input type="email" class="form-control" title="ICICI" placeholder="ICICI" name="orgName" #orgName="ngModel"
                    [(ngModel)]="insurance_provider.orgName" required />
                  <div *ngIf="(orgName.dirty || orgName.touched) && orgName.invalid" class="alert alert-danger">
                    <div *ngIf="orgName.errors.required" >Provider Company Name is required</div>
                  </div>
                </div>
  
  
  
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" autocomplete="off" maxlength="100" title="john@icici.com"
                    placeholder="john@icici.com"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    name="email" #email="ngModel" [(ngModel)]="insurance_provider.email" required />
                  <div *ngIf="(email.dirty || email.touched) && email.invalid" class="alert alert-danger">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.pattern">Email is invalid</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" autocomplete="off" maxlength="100" title="" placeholder="YourPassword"
                    required="required" name="password" #password="ngModel" [(ngModel)]="insurance_provider.password"
                    passwordToggle required />
                  <div *ngIf="(password.dirty || password.touched) && password.invalid" class="alert alert-danger">
                    <div *ngIf="password.errors.required" >Password is required</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label>Contact No.</label>
                  <input type="text" class="form-control" autocomplete="off" maxlength="100" title="9600050" placeholder="9600050"
                    required="required" name="contact" #contact="ngModel" [(ngModel)]="insurance_provider.contact"
                    required />
                  <div *ngIf="(contact.dirty || contact.touched) && contact.invalid" class="alert alert-danger">
                    <div *ngIf="contact.errors.required" >Contact is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Upload Image</label>
                  <input type="file" class="form-control" [(ngModel)]="insurance_provider.image" name="image" #image="ngModel"
                    (change)="fileSelected($event)" required />
                  <div *ngIf="(image.dirty || image.touched) && image.invalid"class="alert alert-danger">
                    <div *ngIf="image.errors.required" >Image is required</div>
                  </div>
                </div>
                <!-- Hidden Field -->
                <input type="hidden" class="form-control" autocomplete="off" maxlength="100" title=""
                  placeholder="Role" required="required" name="role" #role="ngModel" [(ngModel)]="insurance_provider.role"
                  required />
  
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-6 col-md-5 col-lg-2">
                    <button type="reset" class="btn btn-floating btn-success btn-md">
                      Reset
                    </button>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-2">
                    <button type="submit" (click)="insuranceProvider()" class="btn btn-floating btn-md btn-primary" [disabled]="!insurance_provider_form.valid">Signup</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- Insurance Provider Form Ends -->

             <!-- Inspector Form Starts-->
          <div class="insurance-inspector" *ngIf="roleInspector">
              <form class="form-container" autocomplete="off" name="form" #inspector_form="ngForm" enctype="multipart/form-data">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control"  title="John Abraham" placeholder="John Abraham"
                    required="required" name="name" #name="ngModel" [(ngModel)]="inspector.name" />
                  <div *ngIf="(name.dirty || name.touched) && name.invalid" class="alert alert-danger">
                    <div *ngIf="name.errors.required" > Name is required</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" autocomplete="off" maxlength="100" title="abraham@gmail.com"
                    placeholder="abraham@gmail.com"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    name="email" #email="ngModel" [(ngModel)]="inspector.email" required/>
                  <div *ngIf="(email.dirty || email.touched)&& email.invalid" class="alert alert-danger">
                    <div *ngIf="email.errors.required" >Email is required</div>
                    <div *ngIf="email.errors.pattern" >Email is invalid</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" autocomplete="off" maxlength="100" title="" placeholder="Your Password"
                    required="required" name="password" #password="ngModel" [(ngModel)]="inspector.password"
                    passwordToggle />
                  <div *ngIf="(password.dirty || password.touched) && password.invalid" class="alert alert-danger">
                    <div *ngIf="password.errors.required" >Password is required</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label>Contact Address</label>
                  <input type="text" class="form-control" autocomplete="off" maxlength="200" title="123/1, New Town"
                    placeholder="123/1, New Town" required="required" name="contact" #contact="ngModel" [(ngModel)]="inspector.contact" />
                  <div *ngIf="(contact.dirty || contact.touched) && contact.invalid" class="alert alert-danger">
                    <div *ngIf="contact.errors.required" >Contact is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Upload Image</label>
                  <input type="file" class="form-control" autocomplete="off" [(ngModel)]="inspector.image" name="image"
                    #image="ngModel" (change)="fileSelected($event)" required />
                  <div *ngIf="(image.dirty || image.touched) && image.invalid"class="alert alert-danger">
                    <div *ngIf="image.errors.required" >Image is required</div>
                  </div>
                </div>
  
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-6 col-md-5 col-lg-2">
                    <button type="reset" class="btn btn-success btn-md shadow-lg rounded">
                      Reset
                    </button>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-2">
                    <button type="submit" (click)="inspectorFunc()" class="btn btn-floating btn-md btn-primary" [disabled]="!inspector_form.valid">Signup</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- Inspector Form Ends -->
            
                </div>
            </div>
        </div>
    </div>
</div>
