@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
.container{
    margin-top:100px;
    margin-left:300px;
}


.no-claim{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    width: 50%;
}
table {
    font-family: 'IBM+Plex+Serif',serif;
    text-align: center;

}