<app-holder-nav></app-holder-nav> 


<br/><br/><br/><br/>
<div class="container" *ngIf="hashdata">
  <div class="row">
      <div class="col-md-6" *ngFor="let hash of hashdata;let i=index">
          <br />
          <div class="card  shadow-lg bg-white rounded">
              <div class="card-body">
                  <h5 class="card-title d-flex justify-content-center"  >
                       Hash Details
                  </h5>
                  <hr />
                  <div>
                      <table class="table table-bordered">
                          <tbody>
                              <tr>
                                  <th scope="row">S.No</th>
                                  <td>{{i+1}}</td>
                              </tr>
                             
                              <tr>
                                  <th>Ipfs Hash</th>
                                  <!-- <td>{{hash.ipfsfile}}</td> -->
                                  <a href="https://ipfs.io/ipfs/{{hash}}">
                                    <td width="200">{{hash}}</td></a>
                              </tr>
                              


                          </tbody>
                      </table>
                      <!-- <div class="no-claim" >No hash to display</div> -->
                  </div>
              </div>
          </div>
      </div>

      <!-- <div class="card no-data" *ngIf="!showData">No Data To Display</div> -->
  </div>
</div>