@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
.main-content{
    padding: 150px 170px 600px 170px;
}
.list-group-item.active{
    background-color: #0A68B1;
}
.navbar{
    background-color: #666666
}
.btn-primary{
    background-color: #0A68B1;
}
.card{
    right:-150px;
    font-family:'IBM+Plex+Serif',serif;
    
}
.no-data{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin-left:200px;
    width: 50%;
    font-family:"IBM+Plex+Serif",serif;
}