@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
table {
    font-family: 'IBM+Plex+Serif', serif;
    text-align: center;
}

.img-style img {
    width: 78px;
    height: 40px;
}

.no-claim{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    width: 50%;
}
.card{
    right:-140px;
    top:100px;
    background-color: lightgray;
}