@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
.col-md-6{
    right:-150px;
    top:90px;
}
.card{
    font-family:'IBM+Plex+Serif',serif;
}
.no-data{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin-left:350px;
    margin-top:130px;
    width: 50%;
    font-family:"IBM+Plex+Serif",serif;
}