<app-provider-nav></app-provider-nav>
<div class="container">
  <div class="card-deck">

      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/Life-Insurance.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center">Life Insurance Plans</a>
          </div>
        </div>
    
      </div>
      
      
      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/four-wheeler.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center" (click)="viewinsurance('4 Wheelers')">Four Wheeler Plans</a>
          </div>
        </div>    
    
      </div>
      
      
      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/family-protection.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center">Family Protection Plans</a>
          </div>
        </div>    
      </div>
  
    </div>
  
    <br/>
  
    <div class="card-deck">
      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/Two-wheeler.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center" (click)="viewinsurance('2 Wheelers')">Two Wheeler Plans</a>
          </div>
        </div>       
      </div>
  
      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/Medical-care.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center">Medical Insurance Plans</a>
          </div>
        </div>    
      </div>
  
      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/Travel.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center">Travel Insurance Plans</a>
          </div>
        </div>    
      </div>
    
    </div>
  
</div>
