@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
.card-footer{
    background-color:#0A64B1;
    color:white;
    font-family:'IBM+Plex+Serif', serif;
    font-size:1.3rem;
    font-weight:bold;
    width:240px;
    height:50px;
    
}
.container{
    position:fixed;
    margin-left:350px;
    margin-top:120px;

}
img{
    transition: all 1.5s ease;
}
 img:hover{
    transform:scale(1.5);
}
// .card-deck{
// margin-left:250px;
// margin-top:50px;
// }
a{
    cursor:pointer;
}

.card,.card-body{
    width: 240px;
    height: 150px;
    box-shadow:5px #0A68B1;
    font-family:'IBM+Plex+Serif',serif;
    
}

