.list-group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-content{
    padding: 150px 170px 600px 170px;
}
.list-group-item.active{
    background-color: #0A68B1;
}
.navbar{
    background-color: #666666
}
.btn-primary{
    background-color: #0A68B1;
}
.no-data{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin-left:350px;
    width: 50%;
    font-family:"IBM+Plex+Serif",serif;
}