@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
#dummy{
    width:100%;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0
}
.card-footer{
    background-color:#0A64B1;
    color:white;
    font-family:'IBM+Plex+Serif', serif;
    font-size:1.3rem;
    font-weight:bold;
    width:240px;
    height:50px;
}
img{
    transition: all 1.5s ease;
}
 img:hover{
    transform:scale(1.5);
}

a{
    cursor:pointer;
}

.card,.card-body{
    width: 240px;
    height: 150px;
}



