<!-- <div class="card-deck">
    <div class="card h-100">
       <div class="card-body">
          <div class="view view-cascade overlay">
          <img class="card-img" src="./assets/home-page/life insurance.png" alt="Card image cap">
      </div>
       </div>
      <div class="card-footer">
        <a class="text-center">Life Insurance Plans </a>
      </div>
    </div>
    <div class="card h-100">
      <img class="m-card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <a class="text-center">Four Wheeler Plans </a>
      </div>
    </div>
    <div class="card h-100">
      <img class="m-card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <a class="text-center">Family Protection Plans</a>
      </div>
    </div>
  </div>
  <br/>
  <div class=card-deck>
      <div class="card h-100">
          <img class="m-card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
          </div>
          <div class="card-footer">
            <a class="text-center">Two Wheeler Plans</a>
          </div>
        </div>
        <div class="card h-100">
          <img class="m-card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <a class="text-center">Medical Insurance Plans</a>
          </div>
        </div>
        <div class="card h-100">
          
          <div class="card-body">
              <img class="m-card-img-top" src="" alt="Card image cap">
          </div>
          <div class="card-footer">
            <a class="text-center">Travel Insurance Plans</a>
          </div>
        </div>
  </div> -->



  <div class="card-deck">

      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/Life-Insurance.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center">Life Insurance </a>
          </div>
        </div>
    
      </div>
      
      
      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/four-wheeler.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center" (click)="viewinsurance('4 Wheelers')">Four Wheelers</a>
          </div>
        </div>    
    
      </div>
      
      
      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/family-protection.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center">Family Protection </a>
          </div>
        </div>    
      </div>

    </div>

    <br/>

    <div class="card-deck">
      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/Two-wheeler.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center" (click)="viewinsurance('2 Wheelers')">Two Wheelers</a>
            
          </div>
        </div>       
      </div>

      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/Medical-care.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center">Medical Insurance </a>
          </div>
        </div>    
      </div>

      <div class="col-md-4">
        <div class="card h-100 shadow-lg bg-white rounded">
          <img src="./assets/home-page/Travel.png" alt="Card One" class="m-card-img-top">
          <div class="card-footer">
            <a class="text-center">Travel Insurance </a>
          </div>
        </div>    
      </div>
    
    </div>