<nav class="navbar-nav-fixed-left">

  <!-- <div id="avatar">
    <img src="./assets/images/indium-logo.jpg">
  </div>-->


  
  <ul class="nav navbar-nav ml-auto">
    <img src="./assets/images/indium-logo.jpg" class="animated swing infinite">
      
    </ul>
    <ul class="nav navbar-nav ml-auto title">
        <li><b>Insurance-Provider</b></li>
      </ul> 
  <br />
  
  <ul class="nav navbar-nav">
    <li class="nav-item" id="nav" placement="bottom">
      <!-- <a class="nav-link" data-toggle="dropdown" href="#" role="button" aris-haspopup="true" aria-expanded="false" (click)="false"dropdownToggle><i class="fa fa-navicon"></i>&nbsp;&nbsp;Dashboard</a> -->
      <!-- <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown"> -->
        
        <a class="dropdown-item" routerLink="/provider-show-plans"><i class="fa fa-gear" aria-hidden="true"></i>View Plans</a>
        <a class="dropdown-item" routerLink="/add-category"><i class="fa fa-plus-square" aria-hidden="true"></i>Add Category</a>
        <a class="dropdown-item" routerLink="/add-plans"><i class="fa fa-send" aria-hidden="true"></i>Add Plans</a>
        <a class="dropdown-item" routerLink="/provider-claimstatus"><i class="fa fa-bar-chart" aria-hidden="true"></i>Claim Status</a>
      <!-- </div> -->
    </li>
  </ul>
</nav>


 
  <!-- <nav class="navbar navbar-expand sticky-top">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle (click)="false">
          <span><b>Insurance-Holder</b></span>&nbsp;&nbsp;
          <img src="{{userImage}}" class="img-avatar" alt="admin@test.cc" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Account</strong></div>
          <div class="divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
        </div>
       
      </li>
      
    </ul>
  </nav> -->
  <nav class="navbar sticky-top">

      <!-- Navbar brand -->
      
          
      
        
          <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
              dropdownToggle (click)="false">
              <span><b>Insurance-Holder</b></span>&nbsp;&nbsp;
              <img src="{{userImage}}" class="img-avatar" alt="admin@test.cc" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
              <div class="dropdown-header text-center"><strong>Account</strong></div>
              <div class="divider"></div>
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
            </div>
           
          </li> -->
          
        

    
      </nav>

