@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

// .no-data{
//     padding: 1.2rem;
//     font-size: 1rem;
//     text-align: center;
//     font-weight: 900;
//     margin: 0 auto;
//     width: 50%;
// }
.col-md-6{
    right:-140px;
}
.card{
    
    
    font-family:'IBM+Plex+Serif',serif;
    font-size:1.0rem;
    margin-top:120px;
}

button{
    background-color: grey;
    font-size:1.0rem;
}
.no-data{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin-left:350px;
    width: 50%;
}
