<app-holder-nav></app-holder-nav>

<div class="container">
    <div class="row">
        <div class="col-md-6" *ngFor="let insurance of insurances.insuredData">
            <br />
            <div class="card shadow-lg rounded" *ngIf="insurances">
                <div class="card-body"  *ngIf="showDataFlag">
                    <h5 class="card-title d-flex justify-content-center">
                       Two & Four Wheeler Insurance Details
                    </h5>
                    <hr />
                    <div>
                        <!-- Vehicle & Personal Info -->
                        <div>
                            <div class="card-text">
                                <h6>Insured Vehicle Details</h6>
                            </div>

                            <table class="table table-bordered">
                                <tbody *ngIf="insurances">
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ insurance.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Owner Name</th>
                                        <td>{{ insurance.owner_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Vehicle Model</th>
                                        <td>{{ insurance.vehicle_model }}</td>
                                    </tr>
                                    <tr>
                                        <th>Vehicle No.</th>
                                        <td id="vehicleNo">{{ insurance.vehicle_number }}</td>
                                    </tr>
                                    <tr>
                                        <th>Vehicle Price</th>
                                        <td>{{ insurance.vehicle_price }}</td>
                                    </tr>
                                    <tr>
                                        <th>Purchased Date</th>
                                        <td>{{ insurance.purchased_date }}</td>
                                    </tr>
                                    <tr>
                                        <th>Accident Involved</th>
                                        <td>{{ insurance.accident_involved }}</td>
                                    </tr>
                                    <tr *ngIf="insurance.accident_involved=='yes'">
                                        <th>Comments</th>
                                        <td>{{ insurance.comments }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Policy Info -->
                            <div class="card-text">
                                <h6> Policy Details</h6>
                            </div>

                            <table class="table table-bordered">
                                <tbody *ngIf="insurances">
                                    <tr>
                                        <th>Insurance Provider</th>
                                        <td>
                                            {{
                                            insurance.insurance_plans.insurance_category
                                            .insurance_provider_name
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <td>
                                            {{
                                            insurance.insurance_plans.insurance_category.category
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Insurance Applied For</th>
                                        <td>{{ insurance.insurance_plans.insurance_for }}</td>
                                    </tr>
                                    <tr>
                                        <th>Insured For</th>
                                        <td>{{ insurance.insurance_plans.insurance_plan_year }}</td>
                                    </tr>
                                    <!--<tr>
                                        <th>Total Sum Insured</th>
                                        <td>{{ insurance.insurance_plans.sum_insured }}</td>
                                    </tr>-->
                                    <tr>
                                        <th>Annual Premium</th>
                                        <td>{{ insurance.insurance_plans.yearly_premium }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <button type="button" class="btn  btn-sm float-right" (click)="claim(insurance.vehicle_number)">
                                Claim Insurance</button><br />
                            </div>
                    </div>
                </div>

                
            </div>
            
        </div>
           

    </div>
    <div class="card no-data shadow-lg rounded" *ngIf="!showDataFlag">No Policies To Display</div>   
</div>
<br />