<div class=" card shadow-lg bg-white rounded">
  <div class="card-heading">
    <h3 class="text-center header-title">Block Details</h3>
  </div>

  <div class=" card-body">
    <ul class="list-unstyled" *ngFor="let block of blockDetailsObj">
      <li>
        <p>
          <label><b>Block Number</b></label>&nbsp;
          <span class="number">{{block.blockNumber}}</span><br />
          <label><b>Previous Hash</b></label>&nbsp;
          <span class="previous">{{block.previous_hash}}</span><br />
          <label><b>Data Hash</b></label>&nbsp;
          <span class="data">{{block.data_hash}}</span>
        </p>
      </li>
    </ul>
  </div>

</div>