@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
.form-control:disabled, .form-control[readonly] {
    background-color: #f9f9f9;
    opacity: 1;
    cursor: default;
    overflow-y:hidden;
}
.col-md-6{
right:-250px;
top:34px;
}
.col-md-4{
right:-200px;
top:30px;
}
.card-outline-secondary{
    background-color: lightgray;
    font-family:'IBM+Plex+Serif',serif;
}