<nav class="navbar-nav-fixed-left">

  <!-- <div id="avatar">
    <img src="./assets/images/indium-logo.jpg">
  </div>-->



  <ul class="nav navbar-nav ml-auto">
    <img src="./assets/images/indium-logo.jpg" class="shadow-lg bg-white rounded">

  </ul>
  <ul class="nav navbar-nav ml-auto title">
    <li><b>Inspector</b></li>
  </ul>
  <br />

  <ul class="nav navbar-nav">
    <!-- <li class="nav-item" id="nav" placement="bottom">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aris-haspopup="true" aria-expanded="false" (click)="false"dropdownToggle><i class="fa fa-navicon"></i>&nbsp;&nbsp;Dashboard</a> 
       <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">  
        
        <a class="dropdown-item" routerLink="/claim-request"><i class="fa fa-gear" aria-hidden="true"></i>Claim Request</a>
        <a class="dropdown-item" routerLink="/approved-claims"><i class="fa fa-check" aria-hidden="true"></i>Approved Claims</a>
        <a class="dropdown-item" routerLink="/rejected-claims"><i class="fa fa-close" aria-hidden="true"></i>Rejected Claims</a>
    

      
    </li> -->
    <div class="vmenu" id="v1">
      <h4>Dashboard
        <ol id="s3">
          
          <li><a routerLink="/claim-request"><i class="fa fa-gear" aria-hidden="true"></i>&nbsp;Claim Status</a>
          </li>
          <li><a routerLink="/approved-claims"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Approved Claims</a>
          </li>
          <li><a routerLink="/rejected-claims"><i class="fa fa-close" aria-hidden="true"></i>&nbsp;Rejected Claims</a>
          </li>
        </ol>

      </h4>
    </div>
    <br />
    <div class="vmenu" id=v2>
      <h4>Blockchain Dashboard
        <ol id="s4">
          <li><a routerLink="/blockchain-dashboard"><i class="fa fa-btc" aria-hidden="true"></i>&nbsp;BC Explorer</a>
          </li>
          <li><a routerLink="/inspector-claimstatus"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Claim Status</a></li>
        </ol>
      </h4>

    </div>
  </ul>
</nav>



<!-- <nav class="navbar navbar-expand sticky-top">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle (click)="false">
          <span><b>Insurance-Holder</b></span>&nbsp;&nbsp;
          <img src="{{userImage}}" class="img-avatar" alt="admin@test.cc" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Account</strong></div>
          <div class="divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
        </div>
       
      </li>
      
    </ul>
  </nav> -->
<app-header [fixed]="true" [sidebarToggler]=false [asideMenuToggler]=false>
  <ul class="nav navbar-nav ml-auto app-title">
    <li>Indium Insurance Portal</li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="{{userImage}}" tooltip="{{getCookieValue}}" data-placement="left" class="img-avatar"
          alt="admin@test.cc" />
      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <div class="divider"></div>
        <a class="dropdown-item text-center" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
      </div>
    </li>
  </ul>
</app-header>