.navbar{
    background-color: #666666;
    height:60px;
}
:host::ng-deep .app-header .navbar-brand .navbar-brand-full{
    display:none;
    
}
:host::ng-deep .app-header .navbar-brand{
    pointer-events:none;
    cursor:default;
    
}
// .image-avatar{
    
//         width: 50px;
//         background-size: cover;
//         height: 46px;
//         top: 60px;
//         border-radius: 60px;
//         /* z-index: 9; */
//         /* bottom: 51px; */
//         /* left: 0; */
//         /* right: 0; */
//         padding-right: 30pxq;
//         margin-right:20px;
// }
.list-header{
 color:white;
 margin-left: 100px;
}

#nav{
    font-size:1.0rem;
    color:white;
    margin-top:100px;
    font-family:'IBM+Plex+Serif', serif;
}

a{
color:white;
}
.dropdown-menu{
    margin-left:30px;
    margin-top:15px;
}

span{
    color:white;
    font-family: 'IBM+Plex+Serif', serif;
}
.navbar-nav-fixed-left {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#666666;
    margin-top:60px;
}
.dropdown-item{
    cursor:pointer;
}

.title li{
    font-family: 'IBM+Plex+Serif', serif;
    color: white;
    letter-spacing: 0.2rem;
    font-size:0.9rem;
    cursor: default;
    margin-top:90px;
    margin-left:-05px;
    text-align: center;
    font-weight: 1000;
} 
.app-title li{
    font-family: 'IBM+Plex+Serif', serif;
    color: white;
    letter-spacing: 0.2rem;
    font-size:1.5rem;
    cursor: default;
    text-align: center;
    font-weight: 1000;
} 

img{
    
        width: 100px;
        height: 100px;
        top: 50px;
        // border-radius: 60px;
        /* z-index: 9; */
        /* bottom: 51px; */
        /* left: 0; */
        /* right: 0; */
        padding-right: 50;
        margin-top: 20px;
        margin-left: 70px;
        position: relative;
        overflow:hidden;
        box-shadow:0px 2px 2px;
    
}
.img-avatar{
    width: 40px;
    background-size: cover;
    height: 40px;
    top: 60px;
    border-radius: 60px;
    /* z-index: 9; */
    /* bottom: 51px; */
    /* left: 0; */
    /* right: 0; */
    padding-right: 50;
    margin: -13px;
    position: initial;
}
#v1{
    margin-top:90px;
}
.vmenu h4
    {
        width:250px;
        color:#0A68B1;
        font-size:large;
        font-weight:500;
        padding:7px 15px; 
        background-color:white;
        font-family:'IBM+Plex+Serif',serif;
        font-size:1.4rem;
        text-align:center;
        
       	
}
.vmenu h4 a{
        color:White;
        width:200px;
        display:block;
        text-align:center;
        
        

}
.vmenu h4:hover{
       background:white;	
    	
}
.vmenu ol{
        background:lightgray;	
        font-size:13px;
        list-style-type:none;
        padding:0px;
        overflow:hidden;
        height:0px;
        transition:height 1s ease;
        
        	
}
.vmenu ol a
{
    	color:#23282c;
    	text-decoration:none;
    	width:200px;
    	margin-left:10px;
    	font-size:large;
        height:30px;
       
     		
}
.vmenu li{

    //  border-bottom:solid 2px #eee;
     bottom:100%;
     border-bottom: 1px solid transparent;
}
.vmenu li:hover{

    background:skyblue;	
}
.vmenu:hover #s3{

    height:93px;
}
.vmenu:hover #s4{
        
height:65px;
           	
}

