<app-holder-nav></app-holder-nav>

<!-- <div class="dashboard-content animated  infinite shadow-lg rounded">
        <div>Welcome {{userEmail}} <img src="./assets/images/carriers.png" size="50x50" alt="Welcome image"></div>
        
    </div>  -->

    <div class="jumbotron text-center hoverable p-4">

            <!-- Grid row -->
            <div class="row">
          
              <!-- Grid column -->
              <div class="col-md-4 offset-md-1 mx-3 my-3">
          
                <!-- Featured image -->
                <div class="view overlay">
                  <img src="./assets/images/carriers.png" class="img-fluid" alt="Sample image for first version of blog listing">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
          
              </div>
              <!-- Grid column -->
          
              <!-- Grid column -->
              <div class="col-md-7 text-md-left ml-3 mt-3">
          
                <!-- Excerpt -->
                <a href="#!" class="green-text">
                  <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> Dashboard</h6>
                </a>
          
                <h4 class="h4 mb-4">Welcom to Indium Insurance Portal</h4>
          
                <!-- <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
                  rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                  dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p> -->
                <p class="font-weight-normal"> <a><strong>{{userEmail}}</strong></a></p>
          
                <!-- <a class="btn btn-success">Read more</a> -->
          
              </div>
              <!-- Grid column -->
          
            </div>
            <!-- Grid row -->
          
          </div>
          <!-- News jumbotron -->