@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
.jumbotron {
    font-family: 'IBM+Plex+Serif', serif;
    width: 50%;
    text-align: center;
    padding: 3rem;
    margin-top:250px;
    margin-left:500px;
    font-size: 2.0rem;
    background-color: lightgray;
}
img{
    width:120px;
    height:120px;
}
