<app-provider-nav></app-provider-nav>
<div class="container" *ngIf="claimStatusObj">
  <div class="row">
      <div class="col-md-6" *ngFor="let claimStatus of claimStatusObj">
          <br />
          <div class="card shadow-lg bg-white rounded">
              <div class="card-body" *ngIf="showData">
                  <h5 class="card-title d-flex justify-content-center">
                       Insurance Claiming Status
                  </h5>
                  <hr />
                  <div>

                      <table class="table table-bordered">
                          <tbody>
                              <tr>
                                  <th>Email</th>
                                  <td>{{claimStatus.email}}</td>
                              </tr>
                              <tr>
                                  <th>Vehicle No</th>
                                  <td>{{claimStatus.vehicleNo}}</td>
                              </tr>
                              <tr>
                                  <th>Incident held Date</th>
                                  <td>{{claimStatus.Incident_Date}}</td>
                              </tr>
                              <tr *ngIf="claimStatus.claim_status=='rejected'">
                                  <th>Reason for Rejection</th>
                                  <td>{{claimStatus.reason_for_rejection}}</td>
                              </tr>
                              <tr>
                                  <th>Status</th>
                                  <td>
                                      <button *ngIf="claimStatus.claim_status=='pending'" class="btn btn-info btn-sm">{{claimStatus.claim_status}}</button>
                                      <button *ngIf="claimStatus.claim_status=='approved'" class="btn btn-success btn-sm">{{claimStatus.claim_status}}</button>
                                      <button *ngIf="claimStatus.claim_status=='rejected'" class="btn btn-danger btn-sm">{{claimStatus.claim_status}}</button>
                                  </td>
                              </tr>


                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="card no-data shadow-lg rounded" *ngIf="!showData">No Claims To Display</div>
  </div>
</div>
<br />