@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');




.app-title li{
    font-family:'IBM+Plex+Serif',sans-serif ;
    color:white;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;    
    cursor: default;
    margin-right:600px;
    
}
:host ::ng-deep .app-header .navbar-toggler{
    display: none;
}
:host::ng-deep .app-header .navbar-brand{
    pointer-events: none;
    cursor: default;
}
:host ::ng-deep .app-header{
    background-color:#666666;
    height:72px;
}

.btn-outline-primary{
    background-color: gray;
}