
<!-- <div class="sidebar-nav-fixed">
   <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>

  <div id="avatar">
    <img src="./assets/images/indium-logo.jpg">
  </div>

  <ul class="nav navbar-nav ml-auto app-title">
    <li><b>Insurance Portal</b></li>
  </ul>

  <div class="container">
    <app-login></app-login>
  </div>

  <div class="container1">
    <button (click)="toggle()" type="submit">Register</button>
  </div>

</div>  -->
