.panel{
    width:400px;
    left:620px;
    border:1px inset;
    margin-top:90px;
    background-color: lightgray;
    }
    .card{
    width:400px;
    left:620px;
    border:1px inset;
    }
    li p{
        margin: 0;
        padding: 10px 0;
        box-shadow: 5px 1px 9px #888888;
        padding-left:20px;
        background-color:#ffe9e9;
    }
    
    .header-title{
        padding-top: 26px;
    }
    .col-md-6{
        left: -450px;
    }
    .col-md-4{
        left:-200px;
    }