.no-data{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin-left:350px;
    width: 50%;
    margin-top:120px;
    font-family:"IBM+Plex+Serif",serif;
}
.col-md-5{
    left:200px;
    top:100px;
}