<app-provider-nav></app-provider-nav>
<div class="col-md-6 offset-md-3">
  <br />

  <div class="card card-outline-secondary shadow-lg rounded">
    <div class="card-body">
      <h4 class="text-center">Add Insurance Plans</h4>
      <hr />
      <form class="form-container" name="form" autocomplete="off" #planform="ngForm">

        <!-- Must be an hidden input starts-->
        <!---<div class="form-group">
          <label for="cc_name">Insurance Category</label>
          <input
            type="text"
            class="form-control"
            id="cc_name"
            pattern="\w+ \w+.*"
            title="Ex: Life Insurance"
            [(ngModel)]="InsuranceData.category" name="category"#category="ngModel" 
            placeholder="Ex: Life Insurance"
            required="required"
          />
          <div *ngIf="(category.dirty||category.touched) && category.invalid">
            <div *ngIf="category.errors.required"class="alert alert-danger">Category is required</div>
        </div>-->
        <div class="form-group">
          <label for="category">Insurance Category</label>
          <select [(ngModel)]="InsuranceData.category" name="category" class="form-control" #category="ngModel">
            <option value="" disabled selected hidden>Select Category</option>
            <option *ngFor="let data of categoryValues">{{data.category}}</option>
          </select>

        </div>


        <div class="form-group">
          <label for="insurance_provider_name">Insurance Provider Name</label>
          <input type="text" class="form-control" id="insurance_provider_name" title="Ex: ICICI/Bajaj Life Insurance"
            [(ngModel)]="InsuranceData.insurance_provider_name" name="insurance_provider_name" #insurance_provider_name="ngModel"
            placeholder="Ex: ICICI/Bajaj Life Insurance" required readonly />
          <div *ngIf="(insurance_provider_name.dirty||insurance_provider_name.touched) && insurance_provider_name.invalid">
            <div *ngIf="insurance_provider_name.errors.required" class="alert alert-danger">Provider Name is required</div>
          </div>
        </div>
        <!-- Must be an hidden input ends -->
        <div class="form-group">
          <label for="insurance_for">Insurance Plan For</label>
          <!--<input
            type="text"
            class="form-control"
            id="cc_name"
            pattern="\w+ \w+.*"
            title="Ex: 2 Wheelers/4 Wheelers/Health"
            [(ngModel)]="InsuranceData.insurance_for" name="insurance_for"#insurance_for="ngModel" 
            placeholder="2 Wheelers/4 Wheelers/Health"
            required="required"
          />
          <div *ngIf="(insurance_for.dirty||insurance_for.touched) && insurance_for.invalid">
            <div *ngIf="insurance_for.errors.required"class="alert alert-danger">Insurance Plan For is required</div>
        </div>-->
          <select class="form-control" [(ngModel)]="InsuranceData.insurance_for" id="insurance_for" name="insurance_for"
            #insurance_for="ngModel">
            <option value="undefined" disabled selected hidden>Select Insurance Plans</option>
            <option *ngFor="let insurance_for of plans" [value]="insurance_for" required>
              {{insurance_for }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="insurance_plan_year">Insurance Plan year</label>
          <select class="form-control" [(ngModel)]="InsuranceData.insurance_plan_year" id="insurance_plan_year" name="insurance_plan_year"
            #insurance_plan_year="ngModel">
            <option value="undefined" disabled selected hidden>Select Plan Year</option>
            <option *ngFor="let insurance_plan_year of years" [value]="insurance_plan_year" required>
              {{insurance_plan_year }}
            </option>
          </select>
        </div>
        <!--<input
            type="text"
            class="form-control"
            autocomplete="off"
            maxlength="20"
            pattern="\w+ \w+.*"
            title="1 Year/2 Year plans"
            [(ngModel)]="InsuranceData.insurance_plan_year" name="insurance_plan_year"#insurance_plan_year="ngModel" 
            placeholder="1 Year/2 Year plans"
            required="required"
          />
          <div *ngIf="(insurance_plan_year.dirty||insurance_plan_year.touched) && insurance_plan_year.invalid">
            <div *ngIf="insurance_plan_year.errors.required"class="alert alert-danger">Insurance Plan Year is required</div>
        </div>
        </div>-->

        <!-- <div class="form-group" >
          <label for="cc_name">Sum Insured</label>
          <input
            type="text"
            class="form-control"
            id="cc_name"
            pattern="\w+ \w+.*"
            title="1,00,000"
            [(ngModel)]="InsuranceData.sum_insured" name="sum_insured"#sum_insured="ngModel" 
            placeholder="Ex: 1,00,000"
            required="required"
          />
          <div *ngIf="(sum_insured.dirty||sum_insured.touched) && sum_insured.invalid">
            <div *ngIf="sum_insured.errors.required" class="alert alert-danger">Sum Insured is required</div>
        </div>
        </div>-->
        <div class="form-group">
          <label>Yearly Premium</label>
          <input type="number" class="form-control" autocomplete="off" maxlength="20" title="3000" [(ngModel)]="InsuranceData.yearly_premium"
            id="yearly_premium" name="yearly_premium" #yearly_premium="ngModel" placeholder="Ex: 3000" required />
          <div *ngIf="(yearly_premium.dirty||yearly_premium.touched) && yearly_premium.invalid">
            <div *ngIf="yearly_premium.errors.required" class="alert alert-danger">Yearly Premium is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>About Insurance Plan</label>
          <input type="text" class="form-control" autocomplete="off" maxlength="200" title="3000" [(ngModel)]="InsuranceData.about_insurance_plan"
            id="about_insurance_plan" name="about_insurance_plan" #about_insurance_plan="ngModel" placeholder="Ex: Health"
            required />
          <div *ngIf="(about_insurance_plan.dirty||about_insurance_plan.touched) && about_insurance_plan.invalid">
            <div *ngIf="about_insurance_plan.errors.required" class="alert alert-danger">Plan Details is required</div>
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-sm-6 col-md-5 col-lg-2">
            <button type="reset" class="btn btn-success btn-md">Reset</button>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-2">
            <button type="submit" (click)="insureraddplans();" class="btn btn-primary btn-md">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br />
</div>