<app-inspector-nav></app-inspector-nav>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <br />
          <div class="card shadow-lg bg-white rounded">
              <table class="table table-bordered table-hover table-responsive-sm" *ngIf="showTable">
                  <thead>
                      <tr>
                          <th scope="col">S.No.</th>
                          <th scope="col">Vehicle No</th>
                          <th scope="col">Claim Initiated</th>
                          <th scope="col">Claim Status</th>
                          <th scope="col">Claiming Reason</th>
                          <th scope="col">Claiming Image</th>
                          <th scope="col" colspan="2">Action</th>
                      </tr>
                  </thead>
                  <tbody>

                      <tr *ngFor="let claim of claimRequestObj; let i = index; ">
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{claim.vehicleNo}}</td>
                          <td>{{claim.claim_initiated}}</td>
                          <td>{{claim.claim_status}}</td>
                          <td>{{claim.claim_reason}}</td>
                          <td class="img-style" (click)="openModal(template)">
                              <img src="https://indiuminsurance.ml{{claim.claim_reason_image.split('public')[1]}}" />

                              <ng-template #template>
                                  <div class="modal-body">
                                      <img src="https://indiuminsurance.ml{{claim.claim_reason_image.split('public')[1]}}"
                                          class="modal-img" />
                                  </div>
                              </ng-template>
                          </td>


                          <td>
                              <input type="button" class="btn btn-success btn-sm" value="Approve" (click)="approveBtn(); approveClaimRequest(claim.vehicleNo)" />

                          </td>

                          <td>
                              <input type="button" class="btn btn-danger btn-sm" value="Reject" (click)="rejectBtn()" />
                              <ng-template #dummy>
                                  <!-- <div class="modal-header">
                                      <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal"><span
                                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                      </button>
                                  </div> -->
                                  <div class="modal-body">
                                      <label><b>Reason For Rejection</b></label><br />

                                      <input type="text" class="mod" [(ngModel)]="rejectData.reason" #reason="ngModel" autocomplete="off"/><br /><br />

                                      <button type="submit" (click)="approveClaimRequest(claim.vehicleNo)"
                                          class="btn btn-success btn-sm">Submit</button>

                                  </div>
                              </ng-template>
                          </td>


                          <!-- <modal id="custom-modal">
                                  <div class="modal">
                                      <div class="modal-body">
                                          <h1>A Custom Modal!</h1>
                                          <p>
                                              Home page text: <input type="text" [(ngModel)]="bodyText" />
                                          </p>
                                          <button (click)="closeModal('custom-modal-1');">Close</button>
                                      </div>
                                  </div>
                                  <div class="modal-background"></div>
                              </modal>-->

                          <!-- Hidden Field -->

                          <input type="hidden" name="approve" #approve="ngModel" [(ngModel)]="approvalObj.approve" />
                      </tr>
                  </tbody>
              </table>

              <div class="no-claim" *ngIf="!showTable">No Claim Request</div>

          </div>
      </div>
  </div>
</div>