@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
table {
    font-family: 'IBM+Plex+Serif',serif;
    text-align: center;

}
.card{
    font-family:'IBM+Plex+Serif',serif;
}
.mod{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     
}

.img-style img {
    width: 78px;
    height: 40px;
    transition: transform .2s;
}
.no-claim{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    width: 50%;
}


.modal-body .modal-img{
    width: 100%;
}
.card{
    right:-140px;
    top:100px;
    background-color: lightgray;
}