<nav class="navbar-nav-fixed-left">

  <!-- <div id="avatar">
    <img src="./assets/images/indium-logo.jpg">
  </div>-->


  
  <ul class="nav navbar-nav ml-auto">
      <!-- <li class="nav-item dropdown" dropdown placement="bottom">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle (click)="false">
          <img src="{{userImage}}" class="img-avatar  animated swing infinite" alt="admin@test.cc" />
        </a>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Account</strong></div>
          <a class="dropdown-item text-center" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
        
       </div>
      </li> -->
      <img src="./assets/images/indium-logo.jpg" class="shadow-lg bg-white rounded">
      
    </ul>
    <ul class="nav navbar-nav ml-auto title">
        <li><b>Insurance-Holder</b></li>
      </ul> 
  <br />
  
  <ul class="nav navbar-nav">
    <!-- <li class="nav-item" id="nav" placement="bottom">
       <a class="btn btn-primary dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dashboard
      </a>
      <div class="dropdown-menu" id="drop"aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/show-plan"><i class="fa fa-pencil" aria-hidden="true"></i>View Plans</a>
        <a class="dropdown-item" routerLink="/policies"><i class="fa fa-paper-plane" aria-hidden="true"></i>Policies & Claims</a>
        <a class="dropdown-item" routerLink="/claim-status"><i class="fa fa-bar-chart" aria-hidden="true"></i>View Claim Status</a>
      </div>
      <br/>
      
    </li> -->
    <div class="vmenu" id="v1">
      <h4>Dashboard
       <ol id="s3">
       <li routerLinkActive="active"><a routerLink="/show-plan" ><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;View-Plans</a></li>
       <li><a routerLink="/policies"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Policies & Claims</a></li>
       <li><a routerLink="/claim-status"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Claim Status</a></li>
       <li><a routerLink="/hashfile"><i class="fa fa-bar-chart"aria-hidden="true"></i>&nbsp;Hash List</a></li>
       </ol>
       
       </h4>
       </div>
       <br/>
       <div class="vmenu" id=v2>
        <h4>Blockchain Dashboard
         <ol id="s4">
         <li><a routerLink="/blockchain-dashboard"><i class="fa fa-btc" aria-hidden="true"></i>&nbsp;BC Explorer</a></li>
         <li><a routerLink="/block-claim" ><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Claim Status</a></li>
         </ol>
         </h4>
        
         </div>
     
    <!-- <div class="dropdown" id="drop1">
      <a class="btn btn-primary dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dashboard
      </a>
      <div class="dropdown-menu" id="drop"aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" >Action</a>
        <a class="dropdown-item"  >Another action</a>
        <a class="dropdown-item" >Something else here</a>
      </div>
    </div>
    <div class="dropdown" id="drop1">
      <a class="btn btn-secondary dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dashboard
      </a>
      <div class="dropdown-menu" id="drop"aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" >Action</a>
        <a class="dropdown-item"  >Another action</a>
        <a class="dropdown-item" >Something else here</a>
      </div>
    </div> -->
  </ul>
  

</nav>


 
  <!-- <nav class="navbar navbar-expand sticky-top">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle (click)="false">
          <span><b>Insurance-Holder</b></span>&nbsp;&nbsp;
          <img src="{{userImage}}" class="img-avatar" alt="admin@test.cc" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Account</strong></div>
          <div class="divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
        </div>
       
      </li>
      
    </ul>
  </nav> -->
  <!-- <nav class="navbar sticky-top"></nav> -->

      <!-- Navbar brand -->
  <app-header [fixed]="true" [sidebarToggler]=false [asideMenuToggler]=false>
      <ul class="nav navbar-nav ml-auto app-title">
          <li>Indium Insurance Portal</li>
      </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" 
          dropdownToggle (click)="false">
          <img src="{{userImage}}" tooltip="{{getCookieValue}}" data-placement="left" class="img-avatar" alt="admin@test.cc" />  
        </a>
       
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Account</strong></div>        
          <div class="divider"></div>
          <a class="dropdown-item text-center" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
        </div>
      </li>
    </ul>
  </app-header>
    
    <!-- <app-aside [fixed]="true" [display]="false">
      <ul class="navbar-nav mr-auto text-center">
          <li class="nav-item active text-center">
            <a class="nav-link"><span class="sr-only">(current)</span><i class="fa fa-btc" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;BC Explorer 
            </a>
            <a class="nav-link"><span class="sr-only">(current)</span><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Claim Status</a>
           </li>         
        </ul>    
      </app-aside>


       -->